/node_modules
/public/hot
/public/_cdn/admin
/public/_cdn/assets-admin/chunks
/public/_cdn/assets-admin/images
/public/_cdn/assets-admin/js/app.js
/public/_cdn/js/app.js
/public/_cdn/css/app.css
/public/_cdn/assets-admin/css/app.css
/public/css/app.css
/public/js/app.js
/public/storage
/storage/*.key
/packages/resources/assets/images
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
